In [17]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser

In [18]:
#Connect to chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [19]:
url = 'https://mars.nasa.gov/news/'
#Use requests module to retrieve the webpage
response = requests.get(url)

#Create BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

In [20]:
#Retrieve article title and preview paragraph
news_title = soup.find('div', class_="content_title").find('a').text
news_p = soup.find('div', class_="rollover_description_inner").text

print(news_title)
print(news_p)

NASA Garners 7 Webby Award Nominations


Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.

# JPL Mars Space Images - Featured Image

In [21]:
#Open webpage using splinter
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

#HTML object
html = browser.html

#Parse HTML object with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')
#print(soup.prettify())

In [22]:
#Extract base url from website url
base_url = (url.split('/spaceimages'))[0]

#Retrieve route to detailed image description webpage
description_page = soup.find_all('a', class_='button fancybox')[0]['data-link']

#Concatenate route and base url
description_url = base_url + description_page

#Open new url using splinter
browser.visit(description_url)

#Create HTML object
image = browser.html

#Parse HTML object with BeautifulSoup
soup = BeautifulSoup(image, 'html.parser')
#print(soup.prettify())

In [23]:
#Retrieve route to full-size image 
img = soup.find('img', class_="main_image")['src']

#Concatenate route with base url
featured_image_url = base_url + img
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18273_hires.jpg

# Mars Weather

In [8]:
url = 'https://twitter.com/marswxreport?lang=en'
# Open twitter webpage using splinter
browser.visit(url)

#HTML Object
html = browser.html

#Parse HTML object with BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

#Retrieve all elements with tweet information 
weather_tweets = soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

for tweet in weather_tweets:
    
    #Assign tweet info to variable
    mars_weather = tweet.text
    
    # If tweet contains words sol and pressure, print the tweet
    if "sol" and "pressure" in mars_weather:
        print(mars_weather)
        break
    else:
        pass

InSight sol 132 (2019-04-10) low -97.7ºC (-143.8ºF) high -16.3ºC (2.7ºF)
winds from the SW at 4.3 m/s (9.5 mph) gusting to 12.2 m/s (27.3 mph)
pressure at 7.30 hPapic.twitter.com/lW713h6MMh

# Mars Facts

In [9]:
url = 'https://space-facts.com/mars/'
#Scrape table data from Mars webpage
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
#Index the first dataframe object
df = tables[0]

#Set column names
df.columns = ['Description','Value']

#Set Description column as the index
df.set_index('Description', inplace=True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [11]:
#Convert table into HTML table
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
#Remove unwanted new lines
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [13]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
#Open webpage using splinter
browser.visit(url)

#HTML object
html = browser.html

#Parse HTML object with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')
#print(soup.prettify())

In [14]:
#Create list for image urls
hemisphere_image_urls = []

#Extract base url from webpage url
base_url= (url.split('/search'))[0]


#Retrieve all items with hemisphere info
hemispheres = soup.find_all('div', class_='description')

for hemisphere in hemispheres:
    
    #Create an empty dictionary
    hemisphere_info = {}
    
    #Retrieve hemisphere title
    hem_title = hemisphere.find('h3').text
    
    #Add only hemisphere title into dictionary by splitting text 
    hemisphere_info['title'] = hem_title.split(' Enhanced')[0]
    
    #Retrieve route to detailed hemisphere webpage
    hem_route = hemisphere.find('a', class_='itemLink product-item')['href']
    
    #Concatenate base url with route
    hemisphere_link = base_url + hem_route
    
    #Open new url with splinter
    browser.visit(hemisphere_link)
    
    #HTML object
    html = browser.html
    
    #Parse HTML object with BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')
    
    #Retrieve route to full resolution image
    image_url = soup.find('div', class_='downloads').find('ul').find('li').find('a')['href']
    
    #Add image url into dictionary
    hemisphere_info['img_url'] = image_url
    
    #Append dictionary to list
    hemisphere_image_urls.append(hemisphere_info)

In [15]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]